{% extends "base.html" %}
{% block content %}
<div id="mainView" class="flex w-full h-screen transition-all">
    {% include "sidebar.html" %}

    <div class="flex flex-col flex-grow w-full">
        <div class="w-full">
            <div id="contentView" class="p-12 transition-all">
                <div class="w-full px-8 py-8 sm:px-12 lg:px-16 lg:py-12 grid grid-cols-2">

                    <div class="col-span-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="text-black h-12 w-12 select" viewBox="0 0 16 16">
                            <path
                                d="M12.17 9.53c2.307-2.592 3.278-4.684 3.641-6.218.21-.887.214-1.58.16-2.065a3.578 3.578 0 0 0-.108-.563 2.22 2.22 0 0 0-.078-.23V.453c-.073-.164-.168-.234-.352-.295a2.35 2.35 0 0 0-.16-.045 3.797 3.797 0 0 0-.57-.093c-.49-.044-1.19-.03-2.08.188-1.536.374-3.618 1.343-6.161 3.604l-2.4.238h-.006a2.552 2.552 0 0 0-1.524.734L.15 7.17a.512.512 0 0 0 .433.868l1.896-.271c.28-.04.592.013.955.132.232.076.437.16.655.248l.203.083c.196.816.66 1.58 1.275 2.195.613.614 1.376 1.08 2.191 1.277l.082.202c.089.218.173.424.249.657.118.363.172.676.132.956l-.271 1.9a.512.512 0 0 0 .867.433l2.382-2.386c.41-.41.668-.949.732-1.526l.24-2.408Zm.11-3.699c-.797.8-1.93.961-2.528.362-.598-.6-.436-1.733.361-2.532.798-.799 1.93-.96 2.528-.361.599.599.437 1.732-.36 2.531Z" />
                            <path
                                d="M5.205 10.787a7.632 7.632 0 0 0 1.804 1.352c-1.118 1.007-4.929 2.028-5.054 1.903-.126-.127.737-4.189 1.839-5.18.346.69.837 1.35 1.411 1.925Z" />
                        </svg>
                        <h1>Welcome To The Nostr Hyperspace</h1>
                    </div>

                    <div class="p-4">
                        <h2>Overview</h2>
                        <div class="w-3/4 flex flex-col space-y-4">
                            <p><strong>Definition:</strong> Nostr is an open protocol aspiring to establish a global,
                                censorship-resistant "social" network.</p>
                            <p><strong>Philosophy:</strong> It's resilient, tamperproof, and functional, seeking to
                                avoid reliance on centralized servers or P2P techniques.</p>
                            <p><strong>Progress:</strong> This project is currently in development, with discussions
                                and collaboration occurring in a designated Telegram group.</p>
                        </div>
                    </div>

                    <div class="p-4">
                        <h2>Key Features</h2>
                        <h3 class="font-bold text-sm">Client-based:</h3>
                        <div class="flex flex-col space-y-4">
                            <p>All users operate a client, which could be native or web-based.</p>
                            <p>Publishing involves writing, signing with a key, and sending posts to multiple relays.
                            </p>
                            <p>Updates are fetched from multiple relays.</p>
                        </div>
                        <h3 class="font-bold text-sm">Relays:</h3>
                        <div class="flex flex-col space-y-4">
                            <p>Serve as servers, either self-hosted or hosted by others.</p>
                            <p>They forward posts from users without requiring trust; client-side verifies signatures.
                            </p>
                            <p>A relay does not interact with another relay directly, only with users.</p>
                        </div>
                    </div>


                    <div class="p-4">
                        <h2>How to Use Nostr</h2>
                        <div class="flex flex-col space-y-4">
                            <p>Utilize a Nostr client</p>
                            <p>Engage with the Nostr client feature comparison</p>
                            <p>Explore projects built on Nostr</p>
                        </div>
                    </div>


                    <div class="p-4">
                        <h2>Nostr’s Functional Dynamics</h2>
                        <h3 class="font-bold text-sm">Network Components</h3>
                        <p><strong>Clients:</strong></p>
                        <div class="flex flex-col space-y-4">
                            <p>Identify users via a public key.</p>
                            <p>Validate signatures on each post.</p>
                        </div>
                        <p><strong>Relays:</strong></p>
                        <div class="flex flex-col space-y-4">
                            <p>Can accept fees for post publication and hosting.</p>
                            <p>Capable of rejecting or charging for large content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
