<div class="border-2 border-blue-950 h-fit rounded-lg shadow-lg w-fit p-4">
    <h2 class="mb-2">Navigator Tank</h2>
    <form hx-post="/filterRequest" hx-ext="json-enc" hx-target="#viewer" hx-swap="outerHTML"
        class="flex flex-col space-y-4 transition-all">
        <div class="grid grid-cols-6 gap-2">
            <input type="text" name="relay" id="relay" placeholder="wss://your.relay.url"
                value="wss://relay.roadrunner.lat"
                class="col-span-4 mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm" />
            <input type="number" name="kinds" id="kinds" placeholder="kind"
                class="col-span-2 mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm" />
            <input type="number" name="until" id="until" placeholder="until unix seconds ago"
                class="col-span-2 mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm" />
            <input type="text" name="authors" id="authors" placeholder="hex pubkey"
                class="col-span-4 mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm" />
            <input type="text" name="ids" id="ids" placeholder="hex id"
                class="col-span-4 mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm" />
            
            <button class="col-span-2 bg-blue-900"
                type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="h-6 w-6" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                    <path
                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                </svg>
            Get Vision
            </button>
        </div>
    </form>
</div>
