<div id="viewer" class="rounded-lg col-span-2 p-12 grid grid-cols-3 grid-rows-14 gap-12 
                        border-2 border-blue-950 overflow-y-scroll transition-all">
    {% for vision in visions %}
    <div class="col-span-1 h-max max-h-64 overflow-y-scroll break-all m-4 
                border border-blue-700 rounded-lg shadow-xl space-y-4 p-4">
        <div class="font-bold flex justify-between">
            <h3 class="text-sm w-1/4 truncate select-all">{{ vision.author }}</h3>
            <h3 class="text-sm">{{ vision.get_date_time() }}</h3>
        </div>
        <p>{{ vision.content }}</p>
        <h3 class="text-xs w-1/2 truncate select-all">{{ vision.id }}</h3>
    </div>
    {% endfor %}
</div>

