<!DOCTYPE html>
<html class="min-h-screen" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

    <!-- HTMX -->
    <script src="../js/htmx.min.js"></script>
    <script src="../js/json-enc.js"></script>

    <script src="https://bitcoincore.tech/apps/bitcoinjs-ui/lib/bitcoinjs-lib.js"></script>
    <script src="https://bundle.run/noble-secp256k1@1.2.14"></script>
    <script src="https://bundle.run/browserify-cipher@1.0.1"></script>
    <script src="https://bundle.run/buffer@6.0.3"></script>
    <script src="https://bundle.run/varuint-bitcoin@1.1.2"></script>

    <script>
        var Buffer = buffer.Buffer;
    </script>

    <script src="../js/helper.js"></script>
    <!-- tailwindcss -->
    <link href="../styles/main.css" rel="stylesheet" />

    <!-- Favicon  -->
    <title>
        Geppeto Navigator
    </title>

</head>

<body>
    <div id="content">
      <!-- Inheriting pages will have their content rendered here, similar to app root in React, Angular, etc. -->
      {% block content %}{% endblock %}
    </div>
</body>

</html>
