<div class="w-max border-2 rounded-lg border-blue-950 p-4 grid grid-cols-3 gap-2">
    <h3 class="col-span-2">Generate Keys</h3>
    <button class="col-span-1" onclick="createNewPrivateKey()" id="generate-keys">Generate Keys</button>
    <div class="col-span-3">
        <p>Click the button to generate a hex key.</p>
        <p>Remember to keep it safe!</p>
    </div>
    <div class="col-span-2">
        <p id="keys" class="w-2/3 uppercase font-bold truncate select-all">...</p>
    </div>
</div>
