<div class="p-4 border-2 border-blue-950 rounded-lg shadow-lg h-fit w-fit">
    <h2 class="mb-2">The Voice</h2>
    <div class="grid grid-cols-5 gap-2">
        
        <input type="text" id="toRelay" placeholder="wss://your.relay.url" value="wss://relay.roadrunner.lat"
            class="col-span-3 mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm" />
        <input type="text" id="newNoteKind" placeholder="kind"
            class="col-span-2 mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm" />
        <input type="text" id="newNoteContent" placeholder="content"
            class="col-span-5 mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm" />
        
        <button class="col-span-2 bg-blue-900"
            id="noteRequestButton" type="button" onclick={sendNoteWithNip()}>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                viewBox="0 0 16 16">
                <path
                    d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z" />
            </svg>
            NIP-07 Send
        </button>
        
        <button class="col-span-2 bg-blue-900"
            id="noteRequestButton" type="button" onclick={sendNoteWithHex()}>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
                viewBox="0 0 16 16">
                <path
                    d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z" />
            </svg>
            Hex Send
        </button>

    </div>
    <input hx-post="/sendNote" hx-ext="json-enc" hx-trigger="change" hx-target="#didSend" hx-swap="outerHTML"
        class="hidden" id="sendNoteRequest" />
</div>
<div class="fixed top-0 right-0 p-12 opacity-0 traansition-all" id="didSend">
</div>
