@tailwind base;

h1 {
  @apply font-dune my-4 text-4xl font-bold text-gray-900 sm:text-3xl md:text-4xl;
}

h2 {
  @apply font-sanset text-gray-900 text-lg font-bold;
}

h3 {
  @apply font-dune text-xl;
}

p {
  @apply font-cascade leading-relaxed text-base font-medium text-gray-700;
}

label {
    @apply font-dune leading-relaxed text-gray-500 text-base;
}

input {
    @apply font-cascade leading-relaxed text-gray-700 text-base;
}

button {
    @apply font-dune bg-blue-700 leading-relaxed text-xs flex flex-row 
            items-center justify-evenly text-white px-4 py-2 font-bold
            hover:bg-green-700;
}

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Birdman";
  src: url("./fonts/BIRDB___.ttf");
}

@font-face {
  font-family: "Sanset";
  src: url("./fonts/sanset.otf");
}

@font-face {
  font-family: "Dune";
  src: url("./fonts/Dune_Rise.otf");
}

@font-face {
  font-family: "Cascadia";
  src: url("./fonts/cascade.otf");
}

